*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#222;
}

/* CABEÇALHO */

.topo{
    background:#fff;
    padding:40px 20px;
    text-align:center;
    border-bottom:5px solid #d40000;
    box-shadow:0 3px 15px rgba(0,0,0,.1);
}

.logo img{
    width:140px;
    max-width:80%;
    margin-bottom:15px;
}

.topo h1{
    font-size:2rem;
    color:#111;
}

.topo p{
    margin-top:8px;
    color:#666;
    font-size:1rem;
}

/* CONTEÚDO */

main{
    max-width:900px;
    margin:35px auto;
    padding:0 20px;
}

.card{
    background:#fff;
    border-radius:18px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 
